:root {
  --btn-base: hsl(151,81.4%,27.8%);
  --gray-light: hsl(189,5.3%,91.7%);
  --white: #fff;
  --text-gray: hsl(189,5.3%,31.7%);
}

.btn-delete {
  color: color-mix(in hsl, var(--text-gray), white 42%);
}


#lista_articulos {
  display: none;
}

#lista_articulos > li {
  padding: 3px 7px;
}

#lista_articulos > li:hover {
  background-color: color-mix(in hsl, var(--btn-base), white 50%);
}

#lista_prov {
  display: none;
}

#lista_prov > li {
  padding: 3px 7px;
}

#lista_prov > li:hover {
  background-color: color-mix(in hsl, var(--btn-base), white 50%);
}


.drag-drop-container.dragover {
  background-color: #e0f7fa;
  border-color: #00796b; 
}

.file-list > li {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 100px;
  height: 100px;
  font-size: 13px;
  background-color: hsl(150,0.9%,56.1%);
  color: hsl(0,0%,96.5%);
}

.delete-btn {
  position: absolute;
  top: 2px;
  right: 4px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn:hover {
  font-weight: bold;
}

