.backdrop-mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme('colors.backdrop-mobile-background');
  opacity: .25;
  z-index: 3;     
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme('colors.loading-background');
  z-index: 9999;      
}

.loading div:first-child {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 8px solid theme('colors.loading-spinner');
  border-top: 8px solid theme('colors.loading-spinner-border');
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(189,5.3%,31.7%);
  opacity: .25;
  z-index: 3;     
}

#loadingOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;      
}

#loadingSpinner {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 8px solid hsl(189,5.3%,81.7%);
  border-top: 8px solid var(--btn-base); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*  usage : <span class="loader"></span>  */
.loader {
  width: 28px;
  height: 28px;
  border: 4px solid theme('colors.loading-spinner-border');; 
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-sm {
  width: 20px;
  height: 20px;
  border: 3px solid theme('colors.loading-spinner-border');; 
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-lg {
  width: 48px;
  height: 48px;
  border: 6px solid theme('colors.loading-spinner-border');; 
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-xl {
  width: 64px;
  height: 64px;
  border: 7px solid theme('colors.loading-spinner-border');; 
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
